<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="E2E">
            <directory suffix=".php">tests/E2E</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="E2E_BASE_URL" value="http://127.0.0.1:8001" force="true"/>
        <env name="DB_HOST" value="127.0.0.1" force="true"/>
        <env name="DB_PORT" value="3306" force="true"/>
        <env name="DB_NAME" value="fixapi_test" force="true"/>
        <env name="DB_USER" value="root" force="true"/>
        <env name="DB_PASS" value="" force="true"/>
    </php>
</phpunit>
